DATABASE_URL=<database_connection_url>
PORT=<4000>

ACCESS_TOKEN_SECRET=<access_token_secret>
REFRESH_TOKEN_SECRET=<refresh_token_secret>

CLOUD_NAME=<CLOUD_NAME>
CLOUDINARY_API_KEY=<Api_Key>
CLOUDINARY_API_SECRET=<Secret>